.col-md-81 {
    width: 66.66666666666666%;
}

.form-horizontal1 .control-label1 {
    text-align: right;
}

.col-md-49{
    position: absolute;
    left: 20.9%;
}

.input-group1 {
    position: relative;
    display: table;
    border-collapse: separate;
    left: 31%;
}