
.vs/AMAZONIAN_LANGUAGE_TICS/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Plataforma_academica/.vs/Plataforma_academica/config/applicationhost.config
Plataforma_academica/.vs/Plataforma_academica/v16/Server/sqlite3/storage.ide-shm
Plataforma_academica/.vs/Plataforma_academica/v16/Server/sqlite3/storage.ide-wal
Plataforma_academica/Plataforma_academica/obj/Debug/Plataforma_academica.csproj.CoreCompileInputs.cache
Plataforma_academica/Plataforma_academica/obj/Debug/Plataforma_academica.csprojAssemblyReference.cache
Plataforma_academica/.vs/Plataforma_academica/v16/.suo
.vs/AMAZONIAN_LANGUAGE_TICS estilos/v16/.suo
Plataforma_academica/Plataforma_academica/bin/Plataforma_academica.dll
Plataforma_academica/Plataforma_academica/bin/Plataforma_academica.pdb
Plataforma_academica/Plataforma_academica/obj/Debug/Plataforma_academica.csproj.FileListAbsolute.txt
Plataforma_academica/Plataforma_academica/obj/Debug/Plataforma_academica.dll
Plataforma_academica/Plataforma_academica/obj/Debug/Plataforma_academica.pdb
