body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  transition: .5 ease all; }
  body.dark {
    background-color: #17223b; }

header {
  height: 10vh;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 999;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto; }
  header .navbar {
    border-radius: 0px;
    background-color: #005E2D;
    color: #FFFFFF;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    body.dark header .navbar {
      background-color: #17223b; }
    header .navbar .icono {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px 0px 0px 1em;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 10vw;
      -ms-flex: 0 1 10vw;
      flex: 0 1 10vw;
      -ms-flex-item-align: auto;
      align-self: auto; }
      header .navbar .icono img {
        width: 100%; }
    header .navbar .slidermodo {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 2 1 auto;
      -ms-flex: 2 1 auto;
      flex: 2 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
      header .navbar .slidermodo .switch {
        background-color: #009245;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none; }
        header .navbar .slidermodo .switch::after {
          content: "";
          display: block;
          width: 4vh;
          height: 4vh;
          position: absolute;
          background: #ffff;
          top: 0;
          left: 0;
          right: unset;
          border-radius: 100px;
          transition: .3 ease all;
          box-shadow: 0px 0x 2px 2px #005E2D; }
        header .navbar .slidermodo .switch.active {
          background: #263859;
          color: black; }
          header .navbar .slidermodo .switch.active::after {
            right: 0;
            left: unset;
            background: #1bbc97; }
        header .navbar .slidermodo .switch span {
          width: 4vh;
          height: 4vh;
          line-height: 4vh;
          display: block;
          background: none;
          color: #ffff; }
    header .navbar .info {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 0px 1em 0px 0px;
      height: 100%;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -ms-flex-item-align: auto;
      align-self: auto; }

.principal {
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: auto;
  align-self: auto; }
  .principal .menu-izq {
    margin-top: 12vh;
    position: fixed;
    float: left;
    border-radius: 15px;
    margin-left: 1vw;
    width: 16vw; }
    .principal .menu-izq .contenido {
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      padding: 0px;
      margin: 0px;
      list-style: none; }
      .principal .menu-izq .contenido .logo {
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        padding-top: 5px;
        width: 100%;
        text-align: center;
        order: 0;
        flex: 0 0 5%; }
      .principal .menu-izq .contenido .exterior {
        background-color: #009245; }
        body.dark .principal .menu-izq .contenido .exterior {
          background-color: #1bbc97; }
      .principal .menu-izq .contenido .pie {
        border-radius: 0 0 10px 10px;
        text-align: center;
        width: 100%;
        order: 2;
        flex: 0 0 5%; }
      .principal .menu-izq .contenido .lista-menu {
        width: 100%;
        order: 1;
        display: inline;
        height: 90%;
        border-style: solid;
        border-color: #009245; }
        body.dark .principal .menu-izq .contenido .lista-menu {
          border-color: #1bbc97; }
        .principal .menu-izq .contenido .lista-menu .opcion {
          background-color: #d6d6d6;
          border: none;
          padding: 0.5em 0px;
          font-size: 14px;
          border-radius: 0;
          z-index: 2; }
          body.dark .principal .menu-izq .contenido .lista-menu .opcion {
            background-color: #263859; }
        .principal .menu-izq .contenido .lista-menu .opcion a {
          color: black; }
          body.dark .principal .menu-izq .contenido .lista-menu .opcion a {
            color: #ffff; }
        .principal .menu-izq .contenido .lista-menu .opcion a:not([href]):not([tabindex]) {
          color: white;
          text-decoration: none; }
  .principal .contenedor {
    width: 64vw;
    min-width: 50%;
    margin-top: 12vh;
    margin-left: 18vw;
    max-height: 87vh;
    position: relative;
    overflow-y: auto;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out; }
  .principal .menu-der {
    right: 0px;
    position: fixed;
    float: right;
    margin-top: 12vh;
    margin-right: 1vw;
    border-radius: 15px;
    width: 16vw;
    height: 87%;
    border-style: solid;
    border-color: #009245;
    background: #d6d6d6; }
    body.dark .principal .menu-der {
      border-color: #1bbc97;
      background-color: #263859; }

.bb-custom-wrapper {
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  width: 100%;
  background: #009245;
  height: 86vh;
  padding: 1em; }
  body.dark .bb-custom-wrapper {
    background: #263859; }
  .bb-custom-wrapper nav {
    z-index: 999;
    position: relative;
    width: 100%; }
  .bb-custom-wrapper nav span {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #1bbc97;
    border-radius: 50%;
    color: #fff;
    line-height: 42px;
    text-align: center;
    speak: none;
    font-weight: bold;
    cursor: pointer;
    float: right; }
  .bb-custom-wrapper .atras {
    display: flex;
    align-items: center;
    color: white;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .bb-custom-wrapper .bb-bookblock {
    width: 100%;
    height: 100%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
  .bb-custom-wrapper .adelante {
    display: flex;
    align-items: center;
    color: white;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }

.bb-content {
  background: #d6d6d6 !important; }
  body.dark .bb-content {
    background: #17223b !important; }

.bb-item {
  background: #d6d6d6 !important;
  border-radius: 1em;
  height: auto !important;
  min-height: 81.5vh;
  max-height: 81.5vh;
  overflow-y: auto; }
  body.dark .bb-item {
    background: #17223b !important; }
  .bb-item div {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; }
  .bb-item h2 {
    color: #000000;
    text-align: center; }
    body.dark .bb-item h2 {
      color: #ffff; }
  .bb-item h4 {
    color: #000000;
    text-align: center; }
    body.dark .bb-item h4 {
      color: #ffff; }
  .bb-item .btn {
    margin-left: 1em !important;
    margin-top: 1em;
    position: absolute;
    background: #009245; }
    body.dark .bb-item .btn {
      background: #263859; }
  .bb-item .step {
    height: 30px;
    width: 30px;
    color: #ffff;
    padding-top: 4px;
    margin: 0 2px;
    background: #009245;
    border: none;
    border-radius: 50%;
    display: inline-block; }
    body.dark .bb-item .step {
      background: #263859; }

textarea {
  max-width: 100%;
  width: 100%;
  border: none;
  background-color: #d6d6d6;
  color: #000000;
  padding: 0px 4px 0px 5px;
  overflow: hidden !important; }
  body.dark textarea {
    color: #ffff;
    background-color: #17223b; }

.con_form {
  border-radius: 15px;
  color: white !important; }
  .con_form .contenercheck {
    background-color: #009245;
    width: 100%;
    position: relative;
    border: none; }
    body.dark .con_form .contenercheck {
      background-color: #1bbc97; }
    .con_form .contenercheck span p {
      color: #ffff;
      font-weight: bold; }
  .con_form .contener {
    background-color: #d6d6d6;
    height: 100%;
    padding: 0.5em 0em;
    width: 100%;
    position: relative;
    border-style: solid;
    border-color: #009245; }
    body.dark .con_form .contener {
      background-color: #263859;
      border-color: #1bbc97; }
    .con_form .contener a {
      color: #000000;
      padding-left: 1em; }
      body.dark .con_form .contener a {
        color: #ffff; }
    .con_form .contener .boton {
      background: #d6d6d6;
      max-width: 10em;
      position: relative;
      width: 100%;
      left: 0.5em;
      height: 100%;
      border: none;
      outline: none; }
      body.dark .con_form .contener .boton {
        background: #263859; }
        body.dark .con_form .contener .boton span {
          color: white; }
      .con_form .contener .boton:hover {
        border-radius: 10%;
        border-style: solid;
        border-color: #009245; }
        body.dark .con_form .contener .boton:hover {
          border-color: #1bbc97; }
      .con_form .contener .boton .content-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em; }
        .con_form .contener .boton .content-btn img {
          order: 0;
          flex: 1 1 auto;
          align-self: auto;
          width: 70%;
          border-radius: 50%; }
        .con_form .contener .boton .content-btn span {
          order: 0;
          flex: 0 1 auto;
          align-self: auto; }
        .con_form .contener .boton .content-btn .progress {
          width: 100%;
          order: 0;
          flex: 0 1 auto;
          align-self: auto;
          cursor: pointer;
          margin: 1em;
          overflow: visible;
          border-radius: 7px;
          background: #005E2D; }
          body.dark .con_form .contener .boton .content-btn .progress {
            background: #17223b; }
          .con_form .contener .boton .content-btn .progress progress-bar {
            border-radius: 7px; }
          .con_form .contener .boton .content-btn .progress .progress-value {
            position: relative;
            left: -45px;
            top: 4px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 2px; }
          .con_form .contener .boton .content-btn .progress .porcentaje {
            position: relative;
            left: 5px;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            letter-spacing: 2px; }
        .con_form .contener .boton .content-btn .progress-bar.active {
          animation: reverse progress-bar-stripes 6.0s linear infinite, animate-positive 2s; }
        .con_form .contener .boton .content-btn .progress-bar-success {
          background: #009245;
          border-radius: 7px; }
          body.dark .con_form .contener .boton .content-btn .progress-bar-success {
            background: #1bbc97; }
        .con_form .contener .boton .content-btn .progress-outer {
          background: #ffffff0a;
          border-radius: 78px;
          padding: 0px;
          margin: 0px -11px; }
  .con_form .first {
    border-radius: 5px 5px 0px 0px; }
  .con_form .last {
    border-radius: 0px 0px 5px 5px; }
  .con_form .modal-header {
    border-bottom: 0.5em solid #ffff;
    background: #005E2D; }
    body.dark .con_form .modal-header {
      border-color: #1bbc97;
      background: #17223b; }
  .con_form .modal-content {
    background: #009245;
    color: white; }
    body.dark .con_form .modal-content {
      background: #263859; }
  .con_form .modal-footer {
    border-top: 0.5em solid;
    background-color: #ffff;
    background: #005E2D; }
    body.dark .con_form .modal-footer {
      border-color: #1bbc97;
      background: #17223b; }
    .con_form .modal-footer button {
      background: #009245; }
      body.dark .con_form .modal-footer button {
        background: #1bbc97;
        color: white; }

.footer p {
  color: #000000;
  margin-top: 8px;
  margin-bottom: -6px; }
