.chat-list-box {
    display: inline-block;
}

.head-box {
    display: flow-root;
    padding: 10px;
    background: #007bff;
}
.head-box ul li a{
    color:#fff;
}

.chat-person-list ul li img{
	width:30px;
	border-radius:50px;
    position: relative;
    left: -26px;
}

.message-box{
	display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.head-box-1{
	display: flow-root;
    padding: 0px;
    background: #007bff;
}

.msg_history {
    padding: 10px;
    height:280px;
    overflow: overlay;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received_withd_msg {
    width: 57%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 10px 0 10px;
}
.sent_msg {
    float: right;
    width: 46%;
}
.sent_msg p {
  background: #ddd;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #333;
    padding: 5px 10px 5px 22px;
    width: 100%;
	border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.send-message {
    padding: 15px;
    background: #007bff;
    height: auto;
}
.send-message textarea:focus {
    box-shadow: none;
    outline: none;
	border-color:#ddd;
}
.send-message ul li {
    display: -webkit-inline-box;
    padding-left: 15px;
}
.send-message ul li i{color:#0056b3;}
.send-message ul li a{color:#0056b3;}
.send-message ul {
    position: absolute;
    right: 18px;
    top: 88%;
    border-left: 1px solid #9c9a9a;
}

.form-control_1 {
    display: block;
    width: 96%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.timee{  
    position: absolute;
    left: 90px;
    top: 37px;
    color: #fff;}

textarea {
    max-width: 100%;
}

.send-message .form-control_1 {
    border-radius: 4px;
}
.received_withd_msg p {
       background: rgba(0,123,255,.5) none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 22px;
    width: 100%;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.msg-box li{
	display:inline-block;
	padding-left: 10px;
}

.msg-box img{
	border-radius:50px;
}

.msg-box li span{
	padding-left:8px;
	color:#545454;
	font-weight:550;
}


.chat-person-list1 ul li img{
	width:30px;
	border-radius:50px;
    position: relative;
    left: -2px;
}

.chat-person-list1 ul li span {
    padding-left: 17px;
}

.chat-person-list ul li {
    line-height: 55px;
}

.chat-person-list ul li a {
    color: #545454;
    text-decoration: none;
}

.chat-popup1 {

  display: none;  
}

@media (min-width: 992px) {
    .col-md-8 {
        display: none;  
        width: 66.66666666666666%;
        float: left;
    }
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 23%;
  left: 61%;
  border-radius: 3%;
  z-index: 9;
  background-color: #57e8783d;
  width: min-content;
}


.boton_chat{
    text-align: initial;
    padding-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
}


.open-button {
  background-color: #0be43c;
  color: #e9ecef;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 47%;
  right: 35%;
  width: 56px;
  border-radius: 50%;
}

.badge-sonar1 {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
}

.badge-sonar1:after {
        content: "";
        position: absolute;
        left: 0;
        border: 2px solid #980303;
        opacity: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: sonar 1.5s infinite;
    }

.chat-list-box1 {
    display: inline-block;
    width: 35%;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
}

.chat-list-box1 ul li img {
    border-radius: 50px;
}

.head-box {
    display: flow-root;
    padding: 8px;
    background: #007bff;
    position: inherit;
    height:50px;
}

ul.list-inline.text-left.d-inline-block.float-left {
    margin-bottom: 0;
}

.flat-icon li{
	display: inline-block;
    padding: 0px 8px;
    vertical-align: middle;
    position: relative;
    top: 7px;
}


.chat-person-list ul li img{
	width:30px;
	border-radius:50px;
}

.chat-person-list ul li span {
    padding-left: 20px;
}

img {
    width: 12%;
    vertical-align: middle;
}

.chat-person-list ul li {
    line-height: 55px;
}